name: SonarQube Analysis
on:
  push:
    branches: [master, develop]
    pull_request:
      types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  sonarqube:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: SonarQube Scan
        run: |
          mvn clean verify sonar:sonar \
            -Dsonar.projectKey=quality-measurement \
            -Dsonar.host.url=http://localhost:9000 \
            -Dsonar.login=sqp_c146996a60ad6a698cee8236f917f0c193668288 \
            -Dsonar.qualitygate.wait=true \
            -Dsonar.qualitygate.timeout=300
      
